<section id="p_add_wrap" class="city_box">
</section>
<script type="text/template" id="p_add_tpl">
    <ul id="city_list">
        <% for(var i=0;i
        <cityData.length;i++){ %>
            <li class="main-item cityli">
            	<div class="city-group-title <%if(curPrvnName == cityData[i].name) {%><% print(' cur-selected  ')%> 
<% }%>"
                     data-prvnid="<%= cityData[i].treekey %>" data-prvnname="<%= cityData[i].name %>"><%= cityData[i].name %></div>
                <i class="newarr_r"></i>
            </li>
            <% } %>
</ul>
</script>