<!DOCTYPE html>
<html>
<head>
  <title>携程钱包</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="钱包" />
  <meta name="keywords" content="钱包" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
  <link rel="apple-touch-startup-image" href="http://res.m.ctrip.com/html5/content/images/640.png?v=1.0" sizes="320x460">
  <link rel="apple-touch-startup-image" href="http://res.m.ctrip.com/html5/content/images/940.png?v=1.0" sizes="640x920">
  <link rel="apple-touch-startup-image" href="http://res.m.ctrip.com/html5/content/images/1004.png?v=1.0" sizes="768x1004">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://res.m.ctrip.com/html5/Content/images/57.png?v=1.0" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://res.m.ctrip.com/html5/Content/images/72.png?v=1.0" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://res.m.ctrip.com/html5/Content/images/114.png?v=1.0" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://res.m.ctrip.com/html5/Content/images/144.png?v=1.0" />
  
  <!-- lizard2.1样式 -->
  <link rel="stylesheet" href="//webresource.c-ctrip.com/styles/h5/common/main.css" />
  <!-- wallet css -->
  <link rel="stylesheet" type="text/css" href="res/res/style/bank.css" /> 
  <link rel="stylesheet" type="text/css" href="res/res/style/wallet.css" />
  <meta name="format-detection" content="telephone=no"/ >
  <meta name="appBaseUrl" content="/webapp/wallet/" />
  <meta name="webresourceBaseUrl" content="/" />
  <meta name="WebresourcePDBaseUrl" content="/webapp/wallet/" />
  <meta name="restfullApi" content="localhost">
</head>
<body class="gray"  onselectstart="return false">
    <div id="headerview" style="height: 44px;display:none;">
        <header></header>
    </div>
    <div id="main">
        <div class="main-frame">
            <div class="main-viewport"></div>
            <div class="main-state"></div>
        </div>
    </div>
    <div id="footer"></div>
    <%- body %>
    <input type="hidden" id="page_id">

    <script type="text/javascript" src="//webresource.c-ctrip.com/code/lizard/2.1/web/lizard.seed.js" pdconfig="res/walletConfig.js"></script>

</body>
</html>

