<article class="wrap J_WalletContainer">
    <div class="topgrey"><%= tpl_explain %></div>
    <ul class="border2 p10li mb10">
        <li>
            <i class="J_ClearInput clear-input"><span></span></i>
            <em class="fl w80"><%= tpl_moneyname %></em>
            <div class="input">
                <input class="J_Input J_Money" name="" type="text" maxlength="22" placeholder="<%= tpl_inputtips %>">
            </div>
        </li>
    </ul>

    <div class="p10"><button class="J_NextBtn btn">下一步</button></div>
</article>
