<article class="wrap J_WalletContainer">
    <div class="t_c mt20">
        <ul class="paydetails">
            <li>
                <em>状态</em>
                <span class="<% if(restype == 1){print('green')} else if(restype == 3) {print('red2')};%>">
                    <%= restypeUI %>
                    <% if(restype == 8){%>
                    <i class="question J_Question" style="margin-top:-2px;"></i>
                    <%};%>
                </span>
            </li>
            <li><em>流水号</em><span><%= rfno %></span></li>
            <li><em>提交时间</em><span><%= smdate %></span></li>
            <li>
                    <% if(restype == 1){%>
                    <em>成功时间</em><span></span>
                    <%} else if(restype == 2){%>
                    <em>成功时间</em><span><%= findate %></span>
                    <%} else if(restype == 3 || restype == 8){%>
                    <em>失败时间</em><span><%= findate %></span>
                    <%};%>
            </li>
            <li><em>金额</em><span><small>&yen;</small><%= amt %></span></li>
            <li><em>资金来源</em><span><%= srcname %></span></li>
        </ul>
    </div>
</article>