<article class="wrap J_WalletContainer">
    <div class="p10">
    <section class="J_Securitylevel securitylevel a4"><i>您的携程钱包安全级别：<em>警告</em></i></section>
    <section class="J_Securitylevel securitylevel a3"><i>您的携程钱包安全级别：<em>低</em></i></section>
    <section class="J_Securitylevel securitylevel a2"><i>您的携程钱包安全级别：<em>中</em></i></section>
    <section class="J_Securitylevel securitylevel a1"><i>您的携程钱包安全级别：<em>高</em></i></section></div>
    <% if(isUvsOpen == true) {%>
    <ul class="border2 p10li2 mb10">
        <% if(authstatus == 0 || authstatus == 2) {%>
        <li class="J_Unverify-auth">
            <em class="relative font16">实名认证</em>
            <span class="grey3 fr font16">未认证</span>
        </li>
        <%} else if(authstatus == 1) {%>
        <li class="J_Verified-auth">
            <em class="relative font16">实名认证</em>
            <span class="green3 fr font16">已认证</span>
        </li>
        <%} else {//3/100%>
        <li class="J_Verifing-auth">
            <em class="relative font16">实名认证</em>
            <span class="green2 fr font16">审核中</span>
        </li>
        <%};%>
    </ul>
    <%};%>
    <ul class="border2 p10li2 mb10">
        <% if(haspwd == 1) {%>
        <li class="J_Reset-pay-password">
            <em class="relative font16">支付密码</em>
            <span class="fr font16">已设置</span>
        </li>
        <%} else {%>
        <li class="J_Set-pay-password">
            <em class="relative new2 font16">支付密码</em>
            <span class="grey3 fr font16">去设置</span>
        </li>
        <%};%>

        <% if(tpstatus == 0){%>
        <li class="J_SetFinger">
            <em class="relative new2 font16">指纹支付</em>
            <span class="grey3 fr font16">未开通</span>
        </li>
        <%}else if(tpstatus == 1){%>
        <li class="J_HasSetFinger">
            <em class="relative font16">指纹支付</em>
            <span class="fr font16">已开通</span>
        </li>
        <%};%>

        <% if(tpstatus != 2){%>
        </ul>
        <ul class="border2 p10li2 mb10">
        <%};%>

        <% if(email != ""){%>
        <li class="J_Set-email no-icon">
            <em class="relative font16">安全验证邮箱</em>
            <span class="grey3 fr font16"><%=email %></span>
        </li>
        <%};%>

        <% if(mobile != ""){%>
        <li class="J_Modify-security-mobile">
            <em class="relative font16">安全验证手机</em>
            <span class="fr font16"><%= mobile %></span>
        </li>
        <%} else {%>
        <li class="J_Set-security-mobile">
            <em class="new2 relative">安全验证手机</em>
            <span class="fr grey3 font16">去绑定</span>
        </li>
        <%};%>
    </ul>
</article>