<article class="wrap J_WalletContainer">
    <div class="t_c">
        <ul class="paydetails mt20">
            <li><em>流水号</em><span><%= rfno %></span></li>
            <li><em>日期</em><span><%= tradate %></span></li>
            <li><em>类型</em><span><%= traname %></span></li>
            <li><em>名称</em><span class="flwidth65"><%= itemname %></span></li>

            <li>
                <% if(tratype < 2000){%>
                <em>收入</em><span class="green3"><small>&yen;</small><%= traamt %></span>
                <%} else {%>
                <em>支出</em><span class="green2"><small>&yen;</small><%= traamt %></span>
                <%};%>
            </li>

            <li><em>来源</em><span><%= srcname %></span></li>
            <li><em>余额</em><span><small>&yen;</small><%= cash %></span></li>
        </ul>
    </div>
</article>