<article class="wrap J_WalletContainer">
    <% if(cardlist.length == 0) {%>
        <div class="topgrey">请添加收款的银行卡</div>
    <%} else { %>
        <div class="topgrey">请选择收款银行卡</div>
    <%}; %>
    <ul class="border2 p10_15li iconbank  J_CardList">
        <% for (var item in cardlist) {%>
        <li class="J_HisCard" data-cardid="<%= cardlist[item].cardid %>">
            <figure class="default <%print(' ' + cardlist[item].cardIcon)%>"></figure>
            <div class="h40">
                <span class="pr12"><%= cardlist[item].banknameShort %></span><em class="cardclass"><%= cardlist[item].cardtypeUI %></em>
                <p class="font14 grey2"><%= cardlist[item].cardno %></p>
            </div>
        </li>
        <% };%>

        <% if(cardlist.length >= 10) {%>
        <li class="bgc4">
            <figure class="newadd"></figure>
            <div class="h40">
                <span class="grey">新增收款银行卡</span>
                <p class="font14 grey4">保存的银行卡已达上限（10张）</p>
            </div>
        </li>
        <%}else { %>
        <li class="J_AddNewCard">
            <figure class="newadd"></figure>
            <div class="h40">
                <span>新增收款银行卡</span>
                <p class="font14 grey2">最多保存10张银行卡</p>
            </div>
        </li>

        <%} %>

    </ul>

</article>