<article class="wrap J_WalletContainer">
    <div class="t_c">
        <ul class="paydetails mt20">
            <li>

                <em>状态</em><span class="<% if(restype == 1){print('green')} else if(restype == 3) {print('red2')};%>"><%= restypeUI %><%if(restype == 3&&wdtype!=2&&!!errcode){%> (<%= errcode %>)
                <%};%>
            </span>
            </li>
            <%if(restype == 3&&wdtype!=2&&!!errmsg){%>
            <li><em>失败原因</em><span class="flwidth65"><%= errmsg %></span></li>
            <%};%>
            <li><em>流水号</em><span><%= rfno %></span></li>
            <li><em>提交时间</em><span><%= smdate %></span></li>
            <% if(wdtype == 1){%>
            <li>
                <% if(restype == 1){%>
                <em>成功时间</em><span></span>
                <%} else if(restype == 2){%>
                <em>成功时间</em><span><%= findate %></span>
                <%} else if(restype == 3){%>
                <em>失败时间</em><span><%= findate %></span>
                <%};%>
            </li>
            <%};%>
            <li><em>金额</em><span><small>&yen;</small><%= amt %></span></li>

            <% if(wdtype == 1){%>
            <li><em>收款银行卡</em><span class="flwidth65"><%= bankname %>&nbsp;<%= cardtypeUI %></span></li>
            <li><em>&nbsp;</em><span><%= cardno %></span></li>
            <%};%>
        </ul>
    </div>

    <% if(wdtype == 2){%>
        <div class="p10 grey font12">提现金额来源于订单退款，仅支持原账户退回，该笔提现将分多笔到账</div>
        <div class="J_Detail"></div>
    <%};%>   

</article>
